<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <!-- Add CSS/JS libraries here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
   

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:lightblue !important">
  <a class="navbar-brand" href="{% url 'dashboard' %}">Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="text-align:right">
      <li class="nav-item active">
        <a class="nav-link"href="{% url 'home' %}">Home</a> 
      </li>
      
     
      <!-- Add more menu items here -->
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
        <h1>This is our home Page</h1>
        
    </div>
  </div>
  
  
</body>
</html>
